#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: calc(1.20s);
    transition: all 0.5s ease;
    left: 0;
    right: 0;
    transition: all 5s ease;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    max-width: 600px;
    transition: 0.65s ease-in-out;
    height: 300px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.website-content {
    transition: all 0.5s ease;
}